@{
    ViewData["Title"] = "Home Page";
    ViewBag.h1 = "Welcome to My Bookstore";
}

@model ProjectListViewModel


@*Make a table for the prepopulated list entered*@
<div class="container">
    <table class=" table table-striped table-dark">
        <thead >
            <tr>
                <th>Title</th>
                <th>Author First</th>
                <th>Author Last</th>
                <th>Publisher</th>
                <th>ISBN</th>
                <th>Category</th>
                <th>Classification</th>
                <th>Price</th>
                <th>Pages</th>

            </tr>
        </thead>

        @*Use razor code to make bring in the new movies from the model.
            Also use a foreach to loop through all of the restaurants in the list and print them in a table using a partial view*@
        <tbody>
            @foreach ( var r in Model.Books)
            {
                <partial name="BookSummary" model="r" />
            }
        </tbody>
    </table>
</div>
<br />
@*have to pass in the paging info model*@

<div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" page-class="btn" page-class-normal="btn-outline-dark" page-class-selected="btn-info" page-url-category="@Model.CurrentCategory" class="brn-group pull-right m-1"></div>

<br />
<div class="container">
    <img class="center rounded" src="~/img/jeff.jpg" />
</div>

